.recordingsTable {
    width: 100%;
    position: relative;
    border-collapse: collapse;
    padding: 2em;
}

.tableHeader {
    border-left: solid black 1px;
}

.tableHeader.name {
    border-left: none;
}

.tableHeaderWrapper {
    flex-grow: 1;
    text-align: start;
}

.headerButton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

svg.headerArrow {
    fill: snow;
}

svg.ascending {
    fill: navy;
}

svg.descending {
    fill: navy;
    transform: rotate(180deg);
}

td.composer {
    border-left: solid black 1px;
}

td.performer {
    border-left: solid black 1px;
}

td.period {
    border-left: solid black 1px;
}

td.size {
    border-left: solid black 1px;
}

td.instrument {
    border-left: solid black 1px;
}

td.mood {
    border-left: solid black 1px;
}